In [1]:
import tensorflow
from keras.models import Sequential
from keras.layers import Dense, Dropout
import random
import numpy as np
import pandas as pd

Using TensorFlow backend.

In [2]:
num_inputs = 2

In [73]:
def build_model(num_inputs):
    model = Sequential()
    model.add(Dense(5,input_dim=num_inputs))
    model.add(Dense(256,activation='sigmoid'))
    model.add(Dense(10,activation='sigmoid'))
    model.add(Dense(1,activation='linear'))
    model.compile(loss='mse', optimizer='adam')
    return model

In [54]:
dataset = {}
dataset["a"] = []
dataset["b"] = []
dataset["c"] = []

for i in range(1,100000):
    x = random.randint(1,100)
    z = random.randint(1,100)
    dataset["a"] += [z]
    dataset["b"] += [x]
    dataset["c"] += [float(z)/x]
df = pd.DataFrame(dataset)

In [55]:
df

        a   b         c
0       4   6  0.666667
1       5   4  1.250000
2      10   9  1.111111
3       6   5  1.200000
4       3  10  0.300000
5       3   4  0.750000
6       9   7  1.285714
7       1   9  0.111111
8       9  10  0.900000
9      10   8  1.250000
10      2   8  0.250000
11      9   6  1.500000
12      2   9  0.222222
13      7   8  0.875000
14      8   7  1.142857
15      5   1  5.000000
16      3   3  1.000000
17      2  10  0.200000
18      4   8  0.500000
19      6  10  0.600000
20      4   3  1.333333
21      9   1  9.000000
22      3   1  3.000000
23      4   3  1.333333
24      9   4  2.250000
25     10   9  1.111111
26      8   6  1.333333
27      2   8  0.250000
28      7   4  1.750000
29      3   6  0.500000
...    ..  ..       ...
99969   3   2  1.500000
99970   5   2  2.500000
99971   7   6  1.166667
99972   1   8  0.125000
99973   2   1  2.000000
99974   6   1  6.000000
99975   4   6  0.666667
99976   8   4  2.000000
99977   3   3  1.000000
99978   7   5  1.400000
99979   6   8  0.750000
99980   5   3  1.666667
99981  10   2  5.000000
99982   6   7  0.857143
99983   5   8  0.625000
99984   3   1  3.000000
99985   5   2  2.500000
99986   3   5  0.600000
99987   2   9  0.222222
99988   5   1  5.000000
99989   9  10  0.900000
99990   2   3  0.666667
99991  10  10  1.000000
99992   1   4  0.250000
99993   5   6  0.833333
99994   7   4  1.750000
99995   5   8  0.625000
99996   5   5  1.000000
99997   1   2  0.500000
99998   8   4  2.000000

[99999 rows x 3 columns]

In [80]:
model = build_model(2)

In [81]:
model.fit(df[["a","b"]].values,df["c"].values,epochs=5,batch_size=124)

Epoch 1/5
99999/99999 [==============================] - 1s - loss: 0.8455
Epoch 2/5
99999/99999 [==============================] - 1s - loss: 0.0737
Epoch 3/5
99999/99999 [==============================] - 1s - loss: 0.0108
Epoch 4/5
99999/99999 [==============================] - 1s - loss: 0.0022
Epoch 5/5
99999/99999 [==============================] - 1s - loss: 6.0075e-04

In [97]:
pred = model.predict(np.reshape([1,20],[1,2]))
print int(pred[0][0])

0